body {
  height: 100vh;
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 70vw;
  margin: 0 5em;

  &__units {
    align-self: end;
  }

  &__forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // align-self: space-between;
  }
}

.units {
  &__btn {
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    width: 40px;
    height: 40px;
    margin-left: 0.5em;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    &::before {
      content: "°";
    }

    &--active {
      background: #e7e7eb;
      color: #110e3c;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.forecast {
  &__day {
    background: #1e213a;

    > * {
      display: block;
    }

    width: 120px;
    height: 200px;

    img {
      max-width: 100%;
      max-height: 80%;
    }

    display: flex;
    flex-direction: column;
  }
}

.content {
  &__title {
    font-weight: 700;
    font-size: 24px;
    color: #e7e7eb;
    // padding: 1em 0;
  }

  &__highlight {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
  }
}

.highlight {
  text-align: center;
  width: 45%;
  background: #1e213a;

  padding: 2em 0;

  &__value {
    font-weight: 700;
    font-size: 64px;
    padding: 1rem 0;

    &::after {
      font-weight: 500;
      font-size: 36px;
    }

    &--wind::after {
      content: "mps";
    }

    &--humid::after {
      content: "%";
    }

    &--air::after {
      content: "mb";
    }
  }

  progress {
    appearance: none;
    width: 80%;
    height: 0.5em;

    &::-webkit-progress-bar {
      background: #e7e7eb;
      border-radius: 1em;
    }

    &[value]::-webkit-progress-value {
      background: #ffec65;
      border-radius: 1em;
    }
  }
}

footer {
  font-weight: 500;
  font-size: 14px;
  text-align: center;

  > a {
    color: inherit;
    text-decoration: none;

    &:first-of-type {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
